[submodule "attck-planner"]
	path = attck-planner
	url = https://github.com/cmndcntrlcyber/attck-planner.git
[submodule "attck-pe"]
	path = attck-pe
	url = https://github.com/cmndcntrlcyber/attck-pe.git
[submodule "pentest-agent-system"]
	path = pentest-agent-system
	url = https://github.com/youngsecurity/pentest-agent-system
